[MASTER]

# Profiled execution.
profile=no

# Add <file or directory> to the black list.
# It should be a base name, not a path. You may set this option multiple times.
ignore=.git,migrations,tests

[MESSAGES CONTROL]

disable=R0801, E1101, R0201, R0903, R0901, W0707, W5103, C0114, C0115, C0116

[BASIC]
good-names=_,dt,df,e,f,default_app_config,logger

ignored-argument-names=arg|args|kwargs|request|instance|modeladmin|sender

# checks for
# * external modules dependencies
# * relative / wildcard imports
# * cyclic imports
# * uses of deprecated modules
#
[IMPORTS]

# Deprecated modules which should not be used, separated by a comma
deprecated-modules=regsub,string,TERMIOS,Bastion,rexec

allow-any-import-level=

[REPORTS]

reports=no

# Set the output format. Available formats are text, parseable, colorized, msvs
# (visual studio) and html
output-format=colorized

# Include message's id in output
include-ids=yes

# Checks for:
# * warning notes in the code like FIXME, BUG, TODO
# * PEP 263: source code with non ascii character but no encoding declaration
#
[MISCELLANEOUS]

# List of note tags to take in consideration, separated by a comma.
notes=FIXME,BUG,TODO

# Checks for :
# * unauthorized constructions
# * strict indentation
# * line length
# * use of <> instead of !=
#
[FORMAT]

# Maximum number of characters on a single line.
max-line-length=100

# Maximum number of lines in a module
max-module-lines=1000

# String used as indentation unit. This is usually " " (4 spaces) or "\t" (1
# tab).
indent-string='    '